<mat-toolbar color="primary">
  Renthereum
</mat-toolbar>

<div class="content" fxLayout="row wrap">
  <mat-card fxFlex="23.5">
    <mat-card-title>Mountain Bike</mat-card-title>
    <img mat-card-image src="http://lorempixel.com/200/200/" alt="Item image" />
    <mat-card-content>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado.</mat-card-content>
    <mat-card-content >
      <mat-chip-list class="mat-chip-list-stacked">
        <mat-chip color="accent" selected="true">ETH 0.005 per day</mat-chip>
      </mat-chip-list>
    </mat-card-content>
    <mat-card-content fxLayoutAlign="space-between">
      <mat-chip color="warn">Min 5 days</mat-chip>
      <mat-chip color="warn">Max 15 days</mat-chip>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="end">
      <button color="accent" mat-button>RENT</button>
    </mat-card-actions>
  </mat-card>
</div>
